@use 'variables' as *;

// additional breakpoint to adjust hero section earlier for much better looking hero section at all screen sizes.
@mixin mobile-adjust {
    @media (min-width: 525px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}
@mixin mobile-header-style-guide {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
@mixin mobile-header {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}
@mixin mobile-subheader {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}
@mixin mobile-body {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
@mixin mobile-footer-text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
@mixin tablet-page-header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
}
@mixin tablet-section-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}
@mixin tablet-subheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}
@mixin tablet-body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
@mixin tablet-footer-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}