$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mobile-section-top-margin: 24px;
$mobile-section-horizontal-padding: 16px;
$mobile-component-padding: 16px;

$tablet-section-top-margin: 48px;
$tablet-section-horizontal-padding: 36px;
$tablet-component-padding: 36px;