$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$logo-size: 20px;

/* Note to instructor
 * I recognize the request to limit use of variables.
 * These three variables are very useful because they ensure that the overlay perfectly matches the dimensions of the hero section.
 * Simply by changing the variables, the hero section and overlay adjust accordingly.
 */
$hero-mobile-width: 100%;
$hero-mobile-height: 87vw;
$hero-tablet-height: 63.6vw;

$mobile-section-top-margin-style-guide: 24px;
$mobile-section-top-margin-mockup: 18px;
$mobile-section-horizontal-padding: 16px;
$mobile-component-padding: 16px;

$tablet-section-top-margin: 48px;
$tablet-section-horizontal-padding: 36px;
$tablet-component-padding: 36px;
$tablet-footer-content-width: 30vw;

$tablet-button-height: 40px;
$tablet-button-width: 19.25vw;
$tablet-date-width: 20vw;
$tablet-venue-width: 10vw;
$tablet-location-width: 10vw;

$desktop-section-horizontal-padding: 72px;

$font-stack: 'Avenir', sans-serif;;