@use './partials/colors' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

@include fonts;

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
html {
    font-family: 'Avenir';
}

.header {
    background-color: $bandsite-black;
    color: $white;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 0 0 0;

    @include tablet {
        padding: 1.5rem $tablet-section-horizontal-padding 0 $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: $mobile-section-top-margin-mockup $desktop-section-horizontal-padding 0 $desktop-section-horizontal-padding;
    }

    &__logo {
        display:block;
        text-align: center;
        max-height: 20px;
        max-width: 120px;
        margin: 0 auto .5rem auto;

        @include tablet {
            display: inline-block;
        }
    }
    &__nav {
        @include tablet {            
            display:inline-block;
            width: 17.5%;
        }
        vertical-align: top;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        @include tablet {
            width: 100%;         
            justify-content: space-between;
        }
    }
    &__list-item {
        @include mobile-body;
        height: 1.8rem;
        width: 49.9%;
        box-sizing: border-box;
        text-align: center;
        flex-grow: 1;
        &--active, &:hover {
             border-bottom: 3px solid white;
        }
        &--inactive {
            color: $mercury;
        }
        @include tablet {
            flex-grow: 0;
            margin-left: 3.75rem;
            height: 2.75rem;
        }
    }
}
.hero {
    width: 100%;
    height: 56vw;
    padding: 0 $mobile-section-horizontal-padding;
    box-sizing: border-box;
    background: url('../assets/images/hero-bio.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    display: flex;
    align-items: center;
    position: relative;

    @include tablet {
        height: 57.5vw;
        padding: 0 $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: 0 $desktop-section-horizontal-padding;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 56vw;
        background-color: rgba($bandsite-black, .5);

        @include tablet {
            height: 57.5vw;
        }
    }
    &__title {
        color: white;
        font-weight: 400;
        @include mobile-header;
        z-index: 2;

        @include tablet {
            @include tablet-page-header;
        }
    }
}
.info {
    padding: 0 $mobile-section-horizontal-padding 1rem $mobile-section-horizontal-padding;

    @include tablet {
        padding: 0 2.25rem;
    }
    @include desktop {
        padding: 0 $desktop-section-horizontal-padding;
    }
    &__title {
        @include mobile-header;
        padding: $mobile-section-top-margin-mockup 0 .5rem 0;
        box-sizing: border-box;

        @include tablet {
            @include tablet-section-header;
            padding: $tablet-section-top-margin 0 1.25rem 0;
        }
    }
    &__wrapper {
        @include tablet {
            padding: 0 3.5rem;
        }
        @include desktop {
            width: 85%;
            margin: auto;
        }
    }
    &__image {
        width: 100%;
        height: 46.5vw;
        display: block;
        
        @include tablet {
            height: 40vw;
        }
    }
    &__quote {
        @include mobile-body;
        font-weight: 600;
        margin: .8rem 0 1rem 0;

        @include tablet {
            font-size: 22px;
            line-height: 28px;
            font-weight: 600;
            margin-top: 1.75rem;
            margin-bottom: 0;
        }
        @include desktop {
            width: 75%;
        }

        &--reduced {
            @include tablet {
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                margin-top: 1rem;
            }
        }
    }
    &__subheading {
        @include mobile-subheader;
        margin: $mobile-section-top-margin-mockup 0 16px 0;

        @include tablet {
            @include tablet-subheader;
            margin-top: $tablet-section-top-margin;
        }
    }
    &__container {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between
        }
    }
    &__p {
        @include mobile-body;
        margin: $mobile-component-padding 0;
        margin:0;

        &--continue {
            margin-top: 1rem;

            @include tablet {
                margin-top: 0;
            }
        }

        @include tablet {
            @include tablet-body;
            width: 48%;
        }
    }
}
.gallery {
    padding: $mobile-section-top-margin-mockup $mobile-section-horizontal-padding 0 $mobile-section-horizontal-padding;
    background-color: $alabaster;

    @include tablet {
        padding: $tablet-section-top-margin $tablet-section-horizontal-padding 0 $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: $tablet-section-top-margin $desktop-section-horizontal-padding 0 $desktop-section-horizontal-padding;
    }
    &__title {
        @include mobile-header;
        margin: 0px 0 .7rem 0;

        @include tablet {
            @include tablet-section-header;
            margin-top: 1.5rem;
        }
    }
    &__photos {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
      
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: .6rem;
            margin-top: 1.75rem;
        }
        @include desktop {
            justify-content: space-between;
        }
    }
    &__photo {
        margin-bottom: 1.1rem;

        @include tablet {
            width: 27.5vw;
            margin-bottom: 1.5rem;
        }
        @include desktop {
            width: 28vw;
        }
    }
}
.footer {
    @include mobile-footer-text;
    padding: $mobile-section-top-margin-mockup $mobile-section-horizontal-padding 0 $mobile-section-horizontal-padding;
    background-color: $bandsite-black;
    color: $white;

    @include tablet {
        @include tablet-footer-text;
        padding: $tablet-section-top-margin $tablet-section-horizontal-padding 2.25rem $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: $tablet-section-top-margin $desktop-section-horizontal-padding 0 $desktop-section-horizontal-padding;
    }
    &__logo {
        @include mobile-header;
        max-height: 20px;
        max-width: 120px;
        margin-top: 3.5rem;
        
        @include tablet {
            display: none;   
        }
    }
    &__copyright {
        margin-top: .75rem;

        @include tablet {
            margin-top: 3rem;
        }
    }
}
.social {
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__title {
        @include mobile-header;

        @include tablet {
            @include tablet-section-header;
            width: $tablet-footer-content-width;
            
        }
    }
    &__icons {
        display: flex;
        width: 7.5rem;
        justify-content: space-between;
        margin-top: $mobile-section-top-margin-mockup;

        @include tablet {
            margin-top: 0;
            padding-bottom: .2rem;
            padding-left: .75rem;
            width: $tablet-footer-content-width;
            justify-content: flex-start;
            align-self: center;
        }
    }
    &__icon {
        @include tablet {
            margin-right: 2rem;
        }
    }
    &__logo-container {
        display: none;
        font-size: $logo-size;

        @include tablet {
            display: inline-block;
            text-align: right;
            width: 30vw;
            align-self: center;
        }
    }
}
.contact {
    display: flex;
    flex-direction: column;

    @include tablet {
        margin-top: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }

    &__group {
        margin-top: $mobile-section-top-margin-mockup;

        @include tablet {
            width: 30vw;
        }
    }
    &__name {
        font-weight: 700;
    }
    &__location {
        margin-top: 16px;

        @include tablet {
            margin-top: 1.25rem;
        }
    }
    &__email {
        margin-top: 16px;

        @include tablet {
            margin-top: 1.25rem;
        }
    }
}