/* color scheme */
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

html {
  font-family: "Avenir";
}

.header {
  background-color: #323232;
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0 0 0;
}
@media (min-width: 768px) {
  .header {
    padding: 1.5rem 36px 0 36px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 18px 72px 0 72px;
  }
}
.header__logo {
  display: block;
  text-align: center;
  max-height: 20px;
  max-width: 120px;
  margin: 0 auto 0.5rem auto;
}
@media (min-width: 768px) {
  .header__logo {
    display: inline-block;
  }
}
.header__nav {
  vertical-align: top;
}
@media (min-width: 768px) {
  .header__nav {
    display: inline-block;
    width: 17.5%;
  }
}
.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__list {
    width: 100%;
    justify-content: space-between;
  }
}
.header__list-item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  height: 1.8rem;
  width: 49.9%;
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
}
.header__list-item--active, .header__list-item:hover {
  border-bottom: 3px solid white;
}
.header__list-item--inactive {
  color: #e1e1e1;
}
@media (min-width: 768px) {
  .header__list-item {
    flex-grow: 0;
    margin-left: 3.75rem;
    height: 2.75rem;
  }
}

.hero {
  width: 100%;
  height: 56vw;
  padding: 0 16px;
  box-sizing: border-box;
  background: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    height: 57.5vw;
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding: 0 72px;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56vw;
  background-color: rgba(50, 50, 50, 0.5);
}
@media (min-width: 768px) {
  .hero__overlay {
    height: 57.5vw;
  }
}
.hero__title {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

.info {
  padding: 0 16px 1rem 16px;
}
@media (min-width: 768px) {
  .info {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .info {
    padding: 0 72px;
  }
}
.info__title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  padding: 18px 0 0.5rem 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .info__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding: 48px 0 1.25rem 0;
  }
}
@media (min-width: 768px) {
  .info__wrapper {
    padding: 0 3.5rem;
  }
}
@media (min-width: 1280px) {
  .info__wrapper {
    width: 85%;
    margin: auto;
  }
}
.info__image {
  width: 100%;
  height: 46.5vw;
  display: block;
}
@media (min-width: 768px) {
  .info__image {
    height: 40vw;
  }
}
.info__quote {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-weight: 600;
  margin: 0.8rem 0 1rem 0;
}
@media (min-width: 768px) {
  .info__quote {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 1.75rem;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .info__quote {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .info__quote--reduced {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 1rem;
  }
}
.info__subheading {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin: 18px 0 16px 0;
}
@media (min-width: 768px) {
  .info__subheading {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 48px;
  }
}
@media (min-width: 768px) {
  .info__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.info__p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 16px 0;
  margin: 0;
}
.info__p--continue {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .info__p--continue {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .info__p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    width: 48%;
  }
}

.gallery {
  padding: 18px 16px 0 16px;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery {
    padding: 48px 36px 0 36px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 48px 72px 0 72px;
  }
}
.gallery__title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  margin: 0px 0 0.7rem 0;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin-top: 1.5rem;
  }
}
.gallery__photos {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery__photos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.6rem;
    margin-top: 1.75rem;
  }
}
@media (min-width: 1280px) {
  .gallery__photos {
    justify-content: space-between;
  }
}
.gallery__photo {
  margin-bottom: 1.1rem;
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 27.5vw;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    width: 28vw;
  }
}

.footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 18px 16px 0 16px;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 48px 36px 2.25rem 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 48px 72px 0 72px;
  }
}
.footer__logo {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  max-height: 20px;
  max-width: 120px;
  margin-top: 3.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__copyright {
  margin-top: 0.75rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .social {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.social__title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .social__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    width: 30vw;
  }
}
.social__icons {
  display: flex;
  width: 7.5rem;
  justify-content: space-between;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .social__icons {
    margin-top: 0;
    padding-bottom: 0.2rem;
    padding-left: 0.75rem;
    width: 30vw;
    justify-content: flex-start;
    align-self: center;
  }
}
@media (min-width: 768px) {
  .social__icon {
    margin-right: 2rem;
  }
}
.social__logo-container {
  display: none;
  font-size: 20px;
}
@media (min-width: 768px) {
  .social__logo-container {
    display: inline-block;
    text-align: right;
    width: 30vw;
    align-self: center;
  }
}

.contact {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact {
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
.contact__group {
  margin-top: 18px;
}
@media (min-width: 768px) {
  .contact__group {
    width: 30vw;
  }
}
.contact__name {
  font-weight: 700;
}
.contact__location {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .contact__location {
    margin-top: 1.25rem;
  }
}
.contact__email {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .contact__email {
    margin-top: 1.25rem;
  }
}/*# sourceMappingURL=bio.css.map */