@use './partials/colors' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

@include fonts;

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
html {
    font-family: 'Avenir';
}

.header {
    background-color: $bandsite-black;
    color: $white;
    box-sizing: border-box;
    width: 100%;
    padding: $mobile-section-top-margin $mobile-section-horizontal-padding 0 $mobile-section-horizontal-padding;

    @include tablet {
        padding: $mobile-section-top-margin $tablet-section-horizontal-padding 0 $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: $mobile-section-top-margin $desktop-section-horizontal-padding 0 $desktop-section-horizontal-padding;
    }

    &__title {
        font-size: 20px;
        text-align: center;
        margin-bottom: .75rem;

        @include tablet {
            display: inline-block;
        }
    }
    &__nav {
        @include tablet {            
            display:inline-block;
            width: 17.5%;
        }
    }
    &__list {
        list-style: none;
        display: flex;

        @include tablet {
            width: 100%;
            
            justify-content: space-between;
        }
    }
    &__list-item {
        @include mobile-body;
        height: 2.5rem;
        box-sizing: border-box;
        text-align: center;
        flex-grow: 1;
        &--active, &:hover {
             border-bottom: 5px solid white;
        }
        &--inactive {
            color: $mercury;
        }
        @include tablet {
            flex-grow: 0;
            margin-left: 3rem;
        }
    }
}
.hero {
    width: 100%;
    height: 30vh;
    padding: 0 $mobile-section-horizontal-padding;
    box-sizing: border-box;
    background: url('../assets/images/hero-bio.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    display: flex;
    align-items: center;
    position: relative;

    @include tablet {
        height: 50vh;
        padding: 0 $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: 0 $desktop-section-horizontal-padding;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 30vh;
        background-color: rgba($bandsite-black, .5);

        @include tablet {
            height: 50vh;
        }
    }
    &__title {
        color: white;
        font-weight: 400;
        @include mobile-header;
        z-index: 2;

        @include tablet {
            @include tablet-page-header;
        }
    }
}
.info {
    padding: 0 $mobile-section-horizontal-padding;

    @include tablet {
        padding: 0 $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: 0 $desktop-section-horizontal-padding;
    }
    &__wrapper {
        @include desktop {
            width: 85%;
            margin: auto;
        }
    }
    &__title {
        @include mobile-header;
        padding: $mobile-section-top-margin 0 $mobile-component-padding 0;
        box-sizing: border-box;

        @include tablet {
            @include tablet-section-header;
            @include tablet-section-header;
            padding: $tablet-section-top-margin 0 $tablet-component-padding 0;
        }
    }
    &__image {
        width: 100%;
        height: auto;
        display: block;
    }
    &__quote {
        @include mobile-body;
        font-weight: 600;
        margin: 16px 0;

        @include tablet {
            @include tablet-subheader;
        }
        @include desktop {
            width: 75%;
        }

        &--reduced {
            @include tablet {
                @include tablet-body;
                font-weight: 600;
            }
        }
    }
    &__subheading {
        @include mobile-subheader;
        margin: $mobile-section-top-margin 0 16px 0;

        @include tablet {
            @include tablet-subheader;
        }
    }
    &__container {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between
        }
    }
    &__p {
        @include mobile-body;
        margin: $mobile-component-padding 0;

        @include tablet {
            @include tablet-body;
            width: 48%;
        }
    }
}
.gallery {
    padding: $mobile-section-top-margin $mobile-section-horizontal-padding 0 $mobile-section-horizontal-padding;
    background-color: $alabaster;

    @include tablet {
        padding: $tablet-section-top-margin $tablet-section-horizontal-padding 0 $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: $tablet-section-top-margin $desktop-section-horizontal-padding 0 $desktop-section-horizontal-padding;
    }
    &__title {
        @include mobile-header;
        margin: 0px 0 $mobile-component-padding 0;

        @include tablet {
            @include tablet-section-header;
        }
    }
    &__photos {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
       
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: space-evenly;
            padding-bottom: $tablet-component-padding;
        }
        @include desktop {
            justify-content: space-between;
        }
    }
    &__photo {
        margin-bottom: 16px;

        @include tablet {
            width: 27vw;
            margin-bottom: 1.5rem;
        }
        @include desktop {
            width: 28vw;
        }
    }
}
.footer {
    @include mobile-footer-text;
    padding: $mobile-section-top-margin $mobile-section-horizontal-padding 0 $mobile-section-horizontal-padding;
    background-color: $bandsite-black;
    color: $white;

    @include tablet {
        @include tablet-footer-text;
        padding: $tablet-section-top-margin $tablet-section-horizontal-padding 0 $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: $tablet-section-top-margin $desktop-section-horizontal-padding 0 $desktop-section-horizontal-padding;
    }
    &__logo-alt {
        display: none;

        @include tablet {
            display: inline-block;
            text-align: right;
            width: 30vw;
        }
    }
    &__logo {
        @include mobile-header;
        
        @include tablet {
            display: none;   
        }
    }
    &__copyright {
        margin-top: 24px;
    }
}
.social {
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__title {
        @include mobile-header;

        @include tablet {
            @include tablet-section-header;
            width: $tablet-footer-content-width;
            
        }
    }
    &__icons {
        display: flex;
        width: 8rem;
        justify-content: space-between;
        margin-top: $mobile-section-top-margin;

        @include tablet {
            margin-top: 0;
            padding-bottom: .2rem;
            width: $tablet-footer-content-width;
            justify-content: flex-start;
        }
    }
    &__icon {
        @include tablet {
            margin-right: 2rem;
        }
    }
}
.contact {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    &__group {
        margin-top: $mobile-section-top-margin;

        @include tablet {
            width: 30vw;
        }
    }
    &__name {
        font-weight: 700;
    }
    &__location {
        margin-top: 16px;
    }
    &__email {
        margin-top: 16px;
    }
}