@use './partials/colors' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/global' as *;

@import './partials/global';

$hero-mobile-width: 100%;
$hero-mobile-height: 87vw;

$hero-tablet-height: 63.6vw;

.hero {
    width: $hero-mobile-width;
    height: $hero-mobile-height;
    padding: 11vw $mobile-section-horizontal-padding 0 $mobile-section-horizontal-padding;
    box-sizing: border-box;
    background-image: url('/assets/images/hero-shows.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;

    @include tablet {
        height: $hero-tablet-height;
        padding: 8vw $tablet-section-horizontal-padding;
        font-size: 1.6rem;
    }
    @include desktop {
        height: 48.5vw;
    }
    &__info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        width: $hero-mobile-width;
        height: $hero-mobile-height;
        height: 70vw;
        padding-bottom: 5vw;
        box-sizing: border-box;
        z-index: 3;
        opacity: 1;

        @include tablet {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: $hero-tablet-height;
            padding: 8vw $tablet-section-horizontal-padding;
            font-size: 1.6rem;
        }
        @media (min-width: 525px) {
            padding-bottom: 15vw;
        }
    }
    &__album {
        display:block;
        color: white;
        margin-bottom: 0;
        z-index: 3 !important;
        
        @include tablet {
            margin-bottom: .25rem;
        }
        @include desktop {
            margin-top: 6rem;
            margin-left: 5.5rem;
            width: 30%;
        }
    }
    &__flex-container {
        @include desktop {
            margin-right: 7rem;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
        }
    }
    &__song-container {
        width: 100%;
        height: 30vw;
        z-index: 3 !important;
        position: relative;

        @media (min-width: 525px) {
            width: 80%;
            margin: 0 auto;
        }
        @include tablet {
            margin: 5vw 0 0 0;
            width: 60%;
            height: 18vw;
        }
        @include desktop {
            margin-top: 0;
            width: 50%;
            height: 10.5vw;
        }
    }   
    &__iframe {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
      
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: $hero-mobile-width;
        height: $hero-mobile-height;
        background-color: rgba($bandsite-black, .5);
       
        @include tablet {
            height: $hero-tablet-height;
        }
        @include desktop {
            height: 48.5vw;
        }
    }
    &__title {
        color: white;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        z-index: 20 !important;
        opacity: 1;
        width: 70%;
        position: relative;
        padding-bottom: .75rem;

        @include tablet {
            width: 75%;
            font-size: 60px;
            line-height: 68px;
            font-weight: 700;
        }
        @include desktop {
            margin-left: 5.5rem;
            font-size: 58px;
            width: 45%;
        }
    }
}
$tablet-button-height: 40px;
$tablet-button-width: 19.25vw;
$tablet-date-width: 20vw;
$tablet-venue-width: 10vw;
$tablet-location-width: 10vw;

.shows {
    padding: 2rem $mobile-section-horizontal-padding 1rem $mobile-section-horizontal-padding;
    box-sizing: border-box;

    @include tablet {
        padding: 2.75rem 2.25rem 1.5rem $tablet-section-horizontal-padding;
    }
    @include desktop {
        padding: 2.75rem 9.75rem 1.5rem 8rem;
        display: flex;
        justify-content: space-between;
    }
    
    &__title {
        @include tablet {
            font-size: 2.25rem;
            margin-bottom: 2.5rem;
        }
    }
    &__container {
        @include desktop {
            margin-left: 9.5rem;
            width: 75%;
        }
    }
    &__labels {
        display: none;
        font-size: .85rem;
        color: $silver;

        @include tablet {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: .9rem;
        }
        @include desktop {
            margin-top: .25rem;
            width: 100%;
            height: 2.25rem;
            vertical-align: middle;
        }
    }
    &__label-date, &__label-venue, &__label-location {
        @include tablet {
            width: $tablet-date-width;
        }
        @include desktop {
            height: 3.75rem;
            display: flex;
            align-items: center;
        }
    }
    &__label-date {
        @include desktop {
            width: 20vw;
            min-width: 20vw;
        }
    }
    &__label-venue {
        @include desktop {
            width: 13.5vw;
            min-width: 13.5vw;
        }
    }
    &__label-place-holder {
        width: $tablet-button-width;
    }
    &__cards {
        @include desktop {
            margin-top: 1.75rem;
            width: 100%;
        }
    }
    &__card {
        position: relative;
        margin-top: 1.3rem;

        &:hover {
            background-color: $alabaster;
        }
        &--active {
            background-color: $mercury !important;
        }
        
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: .75rem;
            box-sizing: border-box;
            margin-bottom: 2rem;
            height: 2.5rem;
        }
        @include desktop {
            height: 3.75rem;
            margin-bottom: .75rem;
        }
    }
    &__info-pair {
        @include tablet {
            vertical-align: middle;
        }
    }
    &__info-label {
        font-size: .6rem;
        font-weight: 400;
        color: $silver;
        margin-bottom: .2rem;

        @include tablet {
            display: none;
        }
    }
    &__info-value {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 1.1rem;

        &--date {
            font-weight: 700;
        }

        @include tablet {
            font-size: .9rem;
            width: $tablet-date-width;
            display: flex;
            align-items: center;
            height: 100%;
        }
        @include desktop {
            width: 13.5vw;

            &--date {
                width: 20vw;
            }
        }
    }
    &__button{
        height: $tablet-button-height;
        width: 100%;
        background-color: $bandsite-black;
        color: white;
        border-radius: 4px;
        border-width: 0;
        margin-bottom: .95rem;

        @include tablet {
            width: $tablet-button-width;
            height: 40px;
            padding: 0;
            margin: auto 0;
        }
        @include desktop {
            width: 11.5vw;
        }
    }
    &__divider {
        position: absolute;
        width: 100vw;
        height: 1px;
        background-color: $mercury;
        bottom: 0;
        left: -$mobile-section-horizontal-padding;

        @include tablet {
            left: -$tablet-section-horizontal-padding;
            bottom: -1.25rem;
        }
        @include desktop {
            bottom: -.425rem;
        }
    }

}
