/* color scheme */
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus, textarea:focus {
  outline: none;
}

.header {
  background-color: #323232;
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0 0 0;
}
@media (min-width: 768px) {
  .header {
    padding: 1.5rem 36px 0 36px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-top: 2rem;
    padding-left: 10vw;
  }
}
.header__logo {
  display: block;
  text-align: center;
  max-height: 20px;
  max-width: 120px;
  margin: 0 auto 0.5rem auto;
}
@media (min-width: 768px) {
  .header__logo {
    display: inline-block;
  }
}
.header__nav {
  vertical-align: top;
}
@media (min-width: 768px) {
  .header__nav {
    display: inline-block;
    width: 17.5%;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    margin-left: 2.5rem;
  }
}
.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__list {
    width: 100%;
    justify-content: space-between;
  }
}
.header__list-item {
  font-size: 13px;
  font-weight: 400;
  height: 1.8rem;
  line-height: 18px;
  width: 49.9%;
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
}
.header__list-item--active {
  font-weight: 600;
}
.header__list-item--active, .header__list-item:hover {
  border-bottom: 3px solid white;
}
.header__list-item--inactive {
  color: #e1e1e1;
}
@media (min-width: 768px) {
  .header__list-item {
    flex-grow: 0;
    margin-left: 3.75rem;
    height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .header__list-item {
    margin-left: 0;
    height: 3.25rem;
  }
  .header__list-item--active, .header__list-item:hover {
    border-bottom: none;
  }
}
.header__list-value {
  box-sizing: border-box;
  padding-bottom: 1.8rem;
}
@media (min-width: 768px) {
  .header__list-value {
    padding-bottom: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .header__list-value {
    padding-bottom: 2rem;
  }
}
.header__list-value--active, .header__list-value:hover {
  display: inline;
  border-bottom: 3px solid white;
}

.footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 18px 16px 1.5rem 16px;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 48px 36px 1.5rem 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 0vw 1.5rem 10vw;
  }
}
.footer__logo {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  max-height: 20px;
  max-width: 120px;
  margin-top: 3.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__copyright {
  margin-top: 0.75rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .social {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media (min-width: 1280px) {
  .social {
    margin-right: 10vw;
    box-sizing: border-box;
  }
}
.social__title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .social__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    width: 30vw;
  }
}
@media (min-width: 1280px) {
  .social__title {
    display: inline-block;
    width: 20vw;
  }
}
@media (min-width: 1280px) {
  .social__icon-container {
    display: inline-block;
    width: 20vw;
  }
}
.social__icons {
  display: flex;
  width: 7.5rem;
  justify-content: space-between;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .social__icons {
    margin-top: 0;
    padding-bottom: 0.2rem;
    padding-left: 0.75rem;
    width: 30vw;
    justify-content: flex-start;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .social__icons {
    width: 20vw;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .social__icon {
    margin-right: 2rem;
  }
}
.social__logo-container {
  display: none;
  font-size: 20px;
}
@media (min-width: 768px) {
  .social__logo-container {
    display: inline-block;
    text-align: right;
    width: 30vw;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .social__logo-container {
    flex-grow: 2;
  }
}

.contact {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact {
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .contact {
    width: 60vw;
  }
}
.contact__group {
  margin-top: 18px;
}
@media (min-width: 768px) {
  .contact__group {
    width: 30vw;
  }
}
@media (min-width: 1280px) {
  .contact__group {
    width: 20vw;
  }
}
.contact__name {
  font-weight: 700;
}
.contact__location {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .contact__location {
    margin-top: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .contact__location {
    margin-top: 1.5rem;
  }
}
.contact__email {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .contact__email {
    margin-top: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .contact__email {
    margin-top: 1.5rem;
  }
}
.contact__mailto {
  text-decoration: none;
  color: white;
}

/* color scheme */
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus, textarea:focus {
  outline: none;
}

.header {
  background-color: #323232;
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0 0 0;
}
@media (min-width: 768px) {
  .header {
    padding: 1.5rem 36px 0 36px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-top: 2rem;
    padding-left: 10vw;
  }
}
.header__logo {
  display: block;
  text-align: center;
  max-height: 20px;
  max-width: 120px;
  margin: 0 auto 0.5rem auto;
}
@media (min-width: 768px) {
  .header__logo {
    display: inline-block;
  }
}
.header__nav {
  vertical-align: top;
}
@media (min-width: 768px) {
  .header__nav {
    display: inline-block;
    width: 17.5%;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    margin-left: 2.5rem;
  }
}
.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__list {
    width: 100%;
    justify-content: space-between;
  }
}
.header__list-item {
  font-size: 13px;
  font-weight: 400;
  height: 1.8rem;
  line-height: 18px;
  width: 49.9%;
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
}
.header__list-item--active {
  font-weight: 600;
}
.header__list-item--active, .header__list-item:hover {
  border-bottom: 3px solid white;
}
.header__list-item--inactive {
  color: #e1e1e1;
}
@media (min-width: 768px) {
  .header__list-item {
    flex-grow: 0;
    margin-left: 3.75rem;
    height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .header__list-item {
    margin-left: 0;
    height: 3.25rem;
  }
  .header__list-item--active, .header__list-item:hover {
    border-bottom: none;
  }
}
.header__list-value {
  box-sizing: border-box;
  padding-bottom: 1.8rem;
}
@media (min-width: 768px) {
  .header__list-value {
    padding-bottom: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .header__list-value {
    padding-bottom: 2rem;
  }
}
.header__list-value--active, .header__list-value:hover {
  display: inline;
  border-bottom: 3px solid white;
}

.footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 18px 16px 1.5rem 16px;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 48px 36px 1.5rem 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 0vw 1.5rem 10vw;
  }
}
.footer__logo {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  max-height: 20px;
  max-width: 120px;
  margin-top: 3.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__copyright {
  margin-top: 0.75rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .social {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media (min-width: 1280px) {
  .social {
    margin-right: 10vw;
    box-sizing: border-box;
  }
}
.social__title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .social__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    width: 30vw;
  }
}
@media (min-width: 1280px) {
  .social__title {
    display: inline-block;
    width: 20vw;
  }
}
@media (min-width: 1280px) {
  .social__icon-container {
    display: inline-block;
    width: 20vw;
  }
}
.social__icons {
  display: flex;
  width: 7.5rem;
  justify-content: space-between;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .social__icons {
    margin-top: 0;
    padding-bottom: 0.2rem;
    padding-left: 0.75rem;
    width: 30vw;
    justify-content: flex-start;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .social__icons {
    width: 20vw;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .social__icon {
    margin-right: 2rem;
  }
}
.social__logo-container {
  display: none;
  font-size: 20px;
}
@media (min-width: 768px) {
  .social__logo-container {
    display: inline-block;
    text-align: right;
    width: 30vw;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .social__logo-container {
    flex-grow: 2;
  }
}

.contact {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact {
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .contact {
    width: 60vw;
  }
}
.contact__group {
  margin-top: 18px;
}
@media (min-width: 768px) {
  .contact__group {
    width: 30vw;
  }
}
@media (min-width: 1280px) {
  .contact__group {
    width: 20vw;
  }
}
.contact__name {
  font-weight: 700;
}
.contact__location {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .contact__location {
    margin-top: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .contact__location {
    margin-top: 1.5rem;
  }
}
.contact__email {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .contact__email {
    margin-top: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .contact__email {
    margin-top: 1.5rem;
  }
}
.contact__mailto {
  text-decoration: none;
  color: white;
}

.hero {
  width: 100%;
  height: 87vw;
  padding: 11vw 16px 0 16px;
  box-sizing: border-box;
  background-image: url("/assets/images/hero-shows.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    height: 63.6vw;
    padding: 8vw 36px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 48.5vw;
  }
}
.hero__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 87vw;
  height: 70vw;
  padding-bottom: 5vw;
  box-sizing: border-box;
  z-index: 3;
  opacity: 1;
}
@media (min-width: 525px) {
  .hero__info-container {
    padding-bottom: 15vw;
  }
}
@media (min-width: 768px) {
  .hero__info-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 63.6vw;
    padding: 8vw 36px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .hero__info-container {
    height: 100%;
  }
}
.hero__album {
  display: block;
  color: white;
  margin-bottom: 0;
  z-index: 3;
}
@media (min-width: 768px) {
  .hero__album {
    margin-bottom: 0.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__album {
    margin-top: 6rem;
    margin-left: 5.5rem;
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .hero__flex-container {
    margin-right: 7rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
.hero__song-container {
  width: 100%;
  height: 30vw;
  z-index: 3;
  position: relative;
}
@media (min-width: 525px) {
  .hero__song-container {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .hero__song-container {
    margin: 5vw 0 0 0;
    width: 60%;
    height: 18vw;
  }
}
@media (min-width: 1280px) {
  .hero__song-container {
    margin-top: 0;
    width: 50%;
    height: 10.5vw;
  }
}
.hero__iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 87vw;
  background-color: rgba(50, 50, 50, 0.5);
}
@media (min-width: 768px) {
  .hero__overlay {
    height: 63.6vw;
  }
}
@media (min-width: 1280px) {
  .hero__overlay {
    height: 48.5vw;
  }
}
.hero__title {
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  z-index: 20;
  opacity: 1;
  width: 70%;
  position: relative;
  padding-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .hero__title {
    width: 75%;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin-left: 5.5rem;
    font-size: 58px;
    width: 45%;
  }
}

.shows {
  box-sizing: border-box;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding: 0 0 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding: 2.75rem 9.75rem 1.5rem 8rem;
    display: flex;
    justify-content: space-between;
  }
}
.shows__title {
  margin: 0.85rem 0 0.5rem 1rem;
  font-size: 1.35rem;
}
@media (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
    margin: 2.25rem 0 2.5rem 2rem;
  }
}
@media (min-width: 768px) {
  .shows__container {
    margin: 0 2rem 0 1.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__container {
    margin-left: 9.5rem;
    width: 75%;
  }
}
.shows__labels-container {
  display: none;
}
@media (min-width: 768px) {
  .shows__labels-container {
    display: block;
    margin: 0 1.25rem 0.5rem 1rem;
  }
}
.shows__labels {
  display: none;
  font-size: 0.85rem;
  color: #afafaf;
}
@media (min-width: 768px) {
  .shows__labels {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .shows__labels {
    margin-top: 0.25rem;
    width: 100%;
    height: 2.25rem;
    vertical-align: middle;
  }
}
.shows__info-label {
  margin-bottom: 0.4rem;
}
@media (min-width: 768px) {
  .shows__label-date, .shows__label-venue, .shows__label-location {
    width: 20vw;
  }
}
@media (min-width: 1280px) {
  .shows__label-date, .shows__label-venue, .shows__label-location {
    height: 3.75rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .shows__label-date {
    width: 20vw;
    min-width: 20vw;
  }
}
@media (min-width: 1280px) {
  .shows__label-venue {
    width: 13.5vw;
    min-width: 13.5vw;
  }
}
.shows__label-place-holder {
  width: 19.25vw;
  min-width: 19.25vw;
}
@media (min-width: 1280px) {
  .shows__cards {
    margin-top: 1.75rem;
    width: 100%;
  }
}
.shows__card {
  position: relative;
  padding-top: 1.1rem;
  border-bottom: 1px solid #e1e1e1;
}
.shows__card--inactive:hover {
  background-color: #fafafa;
}
.shows__card--active {
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .shows__card {
    margin: 0;
    padding: 0.95rem 0;
    box-sizing: border-box;
  }
}
.shows__card-container {
  margin: 0 2rem 0 0.9rem;
}
@media (min-width: 768px) {
  .shows__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1.25rem 0 1rem;
  }
}
@media (min-width: 1280px) {
  .shows__card-container {
    height: 3.75rem;
  }
}
@media (min-width: 768px) {
  .shows__info-pair {
    vertical-align: middle;
  }
}
.shows__info-label {
  font-size: 0.6rem;
  font-weight: 400;
  color: #afafaf;
  margin-bottom: 0.2rem;
}
@media (min-width: 768px) {
  .shows__info-label {
    display: none;
  }
}
.shows__info-value {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 1.1rem;
}
.shows__info-value--date {
  font-weight: 700;
}
@media (min-width: 768px) {
  .shows__info-value {
    font-size: 0.9rem;
    width: 20vw;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .shows__info-value {
    width: 13.5vw;
  }
  .shows__info-value--date {
    width: 20vw;
  }
}
.shows__button {
  height: 40px;
  width: 100%;
  background-color: #323232;
  color: white;
  border-radius: 4px;
  border-width: 0;
  margin-bottom: 0.95rem;
}
@media (min-width: 768px) {
  .shows__button {
    width: 19.25vw;
    height: 40px;
    padding: 0;
    margin: auto 0;
  }
}
@media (min-width: 1280px) {
  .shows__button {
    width: 11.5vw;
    vertical-align: middle;
  }
}
.shows__divider {
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: #e1e1e1;
  bottom: 0;
  left: -16px;
}
@media (min-width: 768px) {
  .shows__divider {
    left: -36px;
    bottom: -1.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__divider {
    bottom: -0.425rem;
  }
}/*# sourceMappingURL=shows.css.map */